jupyter
pandas
sqlalchemy<2.0
pymysql
seaborn
pillow

requests
nltk
wordcloud
#pycontractions
pivottablejs
numpy
matplotlib

pot
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
imgkit
xhtml2pdf
plotly
kaleido